body{
    font-family: Arial;
    background:#eef8ff;
    text-align:center;
}

h1{
    color:#0b5ed7;
}

h2{
    color:#198754;
}

p{
    font-size:18px;
}

ul{
    list-style:none;
}

li{
    font-size:18px;
    margin:10px;
}

button{
    background:#0b5ed7;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:5px;
    font-size:18px;
}
